body {
  background-color: #F5D825;
}

header {
  padding-left: 40px;
  color: #fa702f;
  text-shadow: 2px 2px #3B1A0B;
  font-family: 'Sofia';
}

img {
  width: 30px;
  padding-top: 0;
}

#content {
  background-color: #F6FAEB;
  color: #fa9d07;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.backHome{
  float: right;
  padding-right: 12px;
  border: double;
  border-color: #361E14;
}

.javascript{
  float: left;
  padding-left: 30px;
  border: double;
  border-color: #361E14;
}

a:link, a:visited {
  background-color: #F3DCCB;
  color: #361E14;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#links{
  font-size: 100%;
  padding-bottom: 50px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
}
