.backHome{
  float: right;
  padding-right: 12px;
  border: double;
  border-color: #361E14;
}

.javascript{
  float: left;
  padding-left: 30px;
  border: double;
  border-color: #361E14;
}

a:link, a:visited {
  background-color: #F3DCCB;
  color: #361E14;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#links{
  font-size: 100%;
  padding-bottom: 50px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
}
