body {
  background-color: #d16f94;
}

h1 {
  border-bottom: 4px dashed #800145;
  padding-bottom: 10px;
  text-shadow: 2px 2px #08d1bd;
  font-family: 'Balsamiq Sans', cursive;
}

h2 {
  font-family: 'Balsamiq Sans', cursive;
}

h3 {
  font-family: 'Balsamiq Sans', cursive;
}

img {
  border: solid #51edb4;
  border-radius: 25px;
}
#content {
  background-color: #ffc7e8;
  color: #c40a77;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
